/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/


button {
  cursor: pointer;
}
.page {
  font-family: var(--main-font), sans-serif;
  font-weight: var(--main-text-weight);
  background-image: var(--bg);
  background-size: cover;
  background-attachment: fixed;
}

@supports (font-variation-settings: normal) {
  .page {
      font-family: var(--main-font), sans-serif;
      font-variation-settings: 'wght' var(--main-text-weight);
  }
}






.header {
  /* padding: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem); */
  max-width: 700px;
  margin: auto;
  background: #fff;
  border: 2px solid #000;
  padding: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem) 0 clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem);
  margin-top: 100px;
  margin-bottom: 100px;
}

.header__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;


}

.header__logo-title {
  font-family: var(--accent-font), sans-serif;
  font-size: clamp(3.0625rem, 1.9348rem + 4.8632vw, 4.0625rem);
  text-align: center;
}

.header__logo-subtitle {
  font-family: var(--accent-font), sans-serif;
  font-size: clamp(0.875rem, 0.2407rem + 2.7356vw, 1.4375rem);
  text-align: center;
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
}


.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  max-width: 700px;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  width: 100%;
  border: 2px solid #000;
}

.card__title {
  text-align: start;
  width: 100%;
  padding: 5px 10px;
  font-size: var(--card-title-size);
  font-variation-settings: 'wght' var(--title-text-weight);
}

.card__image-container {
  position: relative;
}

.card__image-container-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card__image-container-label {
  position: absolute;
  top: 27px;
  right: 25px;
  font-family: var(--accent-font), sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  color: #000;
  text-shadow: -1px -1px 0px #fff,
  1px 1px 0px #fff;

}

@supports (-webkit-text-stroke: 0.7px #FFFFFF ) {
  .card__image-container-label {
    text-shadow: 0 0 0;
    -webkit-text-stroke: 0.7px #FFFFFF;
  }
}

.card__content {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 27px;
}

.card__content-text {
  font-size: var(--card-text-size);
  font-variation-settings: 'wght' var(--main-text-weight);
  line-height: 117%;
}

.card__buttons {
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: center;
  padding: 0px 25px 25px 0px;
  gap: 12px;
}


/* Кнопка лайка (сердце) */
.card__icon-button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  transition: 0.3s ease;
  border: 2px solid transparent
}

.card__icon-button img {
  width: 27px;
  height: 24px;
}
.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--main-color);
}


/* Кнопка лайка */
.card__like-button {
  width: 130px;
  height: 38px;
  border: 2px solid var(--main-color);
  color: var(--button-color);
  background-color: transparent;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
}

.card__like-button:focus {
  outline: none;
  box-shadow: 2px 2px var(--main-color);
  transition: 0.3s ease;
}




/* Модфикатор анимации кнопки при наведении */

.button-animated {
  position: relative;
}

.button-animated svg {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.button-animated:after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--main-color);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.button-animated:hover:after {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 10;
  text-align: center;
  mix-blend-mode: difference;
}




/* Копка "Сохранить на память" */

.save-button {
  padding: 0;
  border: none;
  font: inherit;
  color: var(--button-color);;
  background-color: #fff;
  border: 2px solid #000;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 90%;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 15px 19px;


}


/* Модальное окно */
.save-modal[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  position: fixed;
  inset: 0 0 0 0;
  background-color: #fff;
  border: 2px solid #000;
  padding: 30px;
  max-width: 353px;
  overflow: hidden;
}

.save-modal__title{
  display: flex;
  gap: 20px;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  flex-shrink: 1;
}


.save-modal__content {
  padding: 0;
  font-family: var(--accent-font), sans-serif;
  
}

.save-modal__button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: #fff;
  border: 2px solid #000;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 90%;
  text-transform: uppercase;
  width: 100%;
  padding: 12.5px 0px;
}

body:has(.save-modal[open]) {
  overflow: hidden;
} 

.save-modal[open]::backdrop {
  opacity: 0.75;
  background: #000;
}


/* Иконки дискеты */
.icon {
  width: 21px;
}

.icon-big {
  /* width: 85px; */
  width: 39px;
}


/* Модификаторы */
.uppercase {
  text-transform: uppercase;
}

/* Адаптив */

@media (width <= 375px) {
  .save-button {
    max-width: 306px;
    flex-direction: column;
    padding: 15px 15px;
  }
  .icon {
    width: 28px;
  }

  .header__logo-title {
    text-shadow: 2px 1px 3px #000;
  }
  .header__logo-subtitle {
    text-shadow: 2px 1px 3px #000;
  }
  .main {
    margin-bottom: 103px;
  }

  .save-modal[open] {
    max-width: 341px;
    padding: 30px 42px;
  }

  
}
